<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>学长学姐帮你找工作</title>
    <link rel="stylesheet" type="text/css" href="../css/appdetail.css">
    <script src="http://cdn.bootcss.com/zepto/1.1.4/zepto.min.js"></script>
    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
</head>
<body>
<div id="header">
    <a href="/index">
        <h1>
            <label for=""><</label>
            <span>学长学姐帮你找工作</span>
        </h1>
    </a>
</div>
<div id="main">
    <div class="main-top">
        <div class="main-info">
            <div class="avator">
                <img src="../images/face/default.jpg" alt=""/>
            </div>
            <div class="nick">
                <h1>
                    <span class="nickname">追风者</span>
                    <span>（</span>
                    <span>2008</span>
                    <span>级）</span>
                </h1>
                <h1>生活就像马赛克，越模糊越丰富。</h1>
            </div>
            <div class="zan">
                <label for="">66</label>
                <span class="zan-icon"></span>
            </div>
        </div>
    </div>
    <div class="main-mid">
        <ul>
            <li>
                <div class="common">
                    <span>搜狐</span>
                </div>
                <p>签约公司</p>
            </li>
            <li>
                <div class="common">
                    <span>产品</span>
                </div>
                <p>应聘职位</p>
            </li>
            <li>
                <div class="common contact">
                </div>
                <p>联系TA</p>
            </li>
        </ul>
    </div>
    <div class="mid-bot">
        <p>
            <i class="sug"></i>
            <span>大学生活及建议</span>
        </p>
        <p>
            <i class="shares"></i>
            <span>面试分享</span>
        </p>
    </div>
</div>
</body>
</html>


